@import './blocks/*.sass'
@import './pages/*.sass'
   
// vars
//$colorLight: #F2F7FB
//$colorGray:  #D1CBC6
//$colorMain:  #01687B
//$colorDark:  #023F4A

$colorLight: #F2F7FB
$colorGray:  #D1CBC6
$colorMain:  #497E76  
$colorDark:  #436A59
 
@mixin titleBlock
    font-size: 45px
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    font-weight: bold

@mixin title
    font-size: 60px
    text-align: center
    position: relative
    display: inline-block
    white-space: nowrap

@mixin titleAfter
    display: block
    content: ""
    width: 100%
    height: 2px
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    background: linear-gradient(90deg,$colorLight, $colorMain, $colorLight)
    


// burger button
.burger-button
    position: fixed
    width: 48px
    height: 48px
    background-color: $colorMain
    border-radius: 50%
    top: 25px
    right: 25px
    z-index: 15 
    cursor: pointer
    &__line
        position: absolute
        height: 2px
        width: 60%
        background-color: #fff
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        &:nth-child(1)
            top: calc(50% - 6px)
        &:nth-child(3)
            top: calc(50% + 6px)
        

// button
.button
    &--work
        margin: 50px auto 0
        padding-right: 48px
    &--flirt
        margin: 50px auto 0
        padding-right: 48px
        max-width: 250px
        background-color: $colorLight
        color: $colorDark
    &-image
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 16px
        height: 24px
        width: 24px
        background-color: #fff
        color: $colorDark
        border-radius: 50%
        border: 1px solid $colorDark
        line-height: 22px
        text-align: center
    
// анимация для welcome
@keyframes fadeInOut 
  0% 
    opacity: 0
  50% 
    opacity: 1
  100% 
    opacity: 0

// контент
.content
    position: relative

// welcome
.welcome
    display: flex
    flex-direction: column
    height: 100%
    text-align: center
    position: relative
    min-height: 100vh
    &-bg
        position: absolute
        height: 100%
        aspect-ratio: 1/1
        border-radius: 50%
        border: 2px solid $colorLight
        top: 0
        z-index: 5
        opacity: 0
        animation: fadeInOut 6s infinite
        overflow: hidden
        &--left
            left: 0
            transform: translateX(-50%)
            background-image: linear-gradient(to left, $colorMain, $colorLight, #fff)
        &--right
            right: 0
            transform: translateX(50%)
            background-image: linear-gradient(to right, $colorMain, $colorLight, #fff)
    &__inner
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        z-index: 10
        margin: auto 0
    &__logo
        margin-top: 100px
        font-size: 40px
        color: $colorDark
        z-index: 10
        &-geo
            margin-top: 25px
            font-size: 16px
            color: #000
    &__title
        font-size: 60px
        font-weight: bold

// earn блок
.earn
    display: grid
    min-height: 600px
    padding: 100px 200px 50px
    grid-template-columns: 1fr 2fr
    gap: 50px
    font-size: 32px
    &__title
        @include titleBlock
    &__inner
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr
        gap: 50px
    &__item
        color: $colorMain
        border: 2px solid $colorMain
        padding: 25px
        border-radius: 25px
        &--blue
            background: linear-gradient(180deg, $colorMain 0%, $colorLight 100%)
            color: $colorLight
            
// support блок
.support
    padding: 50px 200px 100px
    &__title
        margin: 0 auto
        padding-bottom: 25px
        text-align: center
        font-size: 45px
        font-weight: bold
        position: relative
        &::after
            display: block
            @include titleAfter
    &-list
        overflow: hidden
        position: relative
        width: 100%
        height: 100px
        &::after
            display: block
            content: ""
            position: absolute
            left: 0
            height: 100%
            width: 50px
            background: linear-gradient(90deg, $colorLight 50%, transparent 100%)
            z-index: 17
        &::before
            display: block
            content: ""
            position: absolute
            right: 0
            height: 100%
            width: 50px
            background: linear-gradient(270deg, $colorLight 50%, transparent 100%)
            z-index: 17
        &__inner
            display: flex
            position: absolute
            left: 50%
            transform: translateX(-50%)
        &__item
            flex-grow: 1
            border: 1px solid $colorMain
            border-radius: 25px
            padding: 25px
            margin-top: 25px
            text-align: center
            white-space: nowrap
            z-index: 16
            line-height: 18px
            &--main
                background-color: $colorMain
                color: $colorLight
// блок "флиртуй"
.flirt
    padding: 100px 200px
    &__inner
        background-color: $colorMain
        border-radius: 50px
        padding: 50px
        color: $colorLight
        position: relative
        z-index: 17
    &__emoji
        width: 15%
        aspect-ratio: 1/1
        position: absolute
        background-color: $colorLight
        border-radius: 50%
        &-img
            width: 100%
            height: auto
            border-radius: 50%    
        &:nth-child(1)
            left: 10%
            bottom: 20%
        &:nth-child(2)
            right: 5%
            bottom: 10%
        
    &__title
        text-align: center
        font-size: 45px
        font-weight: bold
    &__subtitle 
        max-width: 50%
        margin: 50px auto 0
        text-align: center
// блок "про деньги"
.money
    padding: 100px 200px
    display: flex
    flex-direction: column
    &__title
        text-align: center
        &-text
            @include title
            &::after
                @include titleAfter
    &__inner
        display: grid
        grid-template-columns: 1fr 1fr
        margin-top: 50px
        gap: 50px
    &__ask
        @include titleBlock
        //text-shadow: 0px 0px 5px $colorDark, 0 0 25px $colorMain
    &__forms
        margin-top: 40px
    &-form
        padding: 20px
        background: $colorDark
        box-shadow: 0px 0px 20px 10px $colorMain
        color: $colorLight
        border-radius: 25px
        &__title
            font-size: 30px
            text-align: center
        &__inner
            margin-top: 25px
        &__label
            font-size: 12px
        &__item
            margin-top: 5px
            padding: 25px
            background-color: $colorLight
            border-radius: 25px
            display: flex
            justify-content: space-between
            color: $colorDark
            line-height: 20px
            font-size: 20px
            cursor: pointer
            transition: all .3s linear
            background-color: $colorMain
            color: $colorLight
            position: relative
            &-price 
                flex-grow: 1
            &-icon
                width: 20px
                height: 20px
                background-color: $colorLight
                clip-path: polygon(100% 50%, 50% 100%, 0 50%)
                margin-top: -5px
                transition: all .3s linear
        &__dropdown
            position: absolute
            width: 100%
            background-color: $colorMain
            left: 50%
            top: 0
            transform: translate(-50%, 70px)
            border-radius: 25px
            padding: 10px 20px
            z-index: 17
            visibility: visible
            max-height: 150px
            overflow-y: scroll
            overflow-x: hidden
            -ms-overflow-style: none
            scrollbar-width: none
            &::-webkit-scrollbar
                display: none
            &-text
                padding: 10px 0
                &:hover
                    text-decoration: underline
            &--hidden
                visibility: hidden 
        &__result
            margin-top: 5px
            padding: 20px 10px
            background-color: $colorLight
            border-radius: 25px
            font-size: 20px
            line-height: 20px
            color: $colorDark
            text-align: center
            font-weight: bold
// блок "Про безопасность"
.safety
    padding: 100px 200px
    display: flex
    flex-direction: column
    min-height: 600px
    &__title
        text-align: center
        &-text
            @include title
            &::after
                @include titleAfter
    &__inner
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 50px
        flex-grow: 1
        margin-top: 50px
    &__ask
        @include titleBlock
    &-item
        background-color: $colorMain
        border-radius: 25px
        padding: 25px
        color: $colorLight
        &__inner
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr
            gap: 20px
        &__image
            width: 80%
            margin: 0 auto
            aspect-ratio: 1/1
            background: $colorDark
            border-radius: 25px
            position: relative
        &__img
            width: 100%
            height: auto
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            border-radius: 25px
        &__title
            color: #fff
            font-size: 24px
            font-weight: bold
            margin-top: 25px
        &__text
            font-size: 16px
            margin-top: 10px
// блок "работая с нами"
.collab
    padding: 100px 200px
    &__inner
        display: flex
        justify-content: space-evenly
        margin-top: 40px
    &-item
        max-width: 30%
        padding: 25px
        border-radius: 25px
        background-color: $colorMain
        color: $colorLight
        text-align: center
        &__title
            font-weight: bold
            font-size: 24px
        &__text
            margin-top: 10px
            font-size: 16px
    &__title
        max-width: 30%
        font-size: 40px
        font-weight: bold
        text-align: center
        display: flex
        justify-content: center
        flex-direction: column
.review
    padding: 100px 200px
    &__title
        text-align: center
        &-text
            @include title
            &::after
                @include titleAfter
    &__inner
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 50px
    &-item
        margin-top: 25px
        background-color: $colorMain
        padding: 25px
        border-radius: 25px
        color: $colorLight
        &:first-child
            margin-top: 0
        &__inner
            display: flex
            flex-direction: column
            margin-top: 50px
        &__header
            display: flex
            &-logo
                width: 75px
                height: 75px
                background-color: $colorLight
                border-radius: 50%
            &-name
                line-height: 75px
                font-size: 20px
                font-weight: bold
                margin-left: 25px
            &-img
                width: 100%
                height: auto
                border-radius: 50%
        &__text
            margin-top: 25px
            font-size: 16px
        &__title
            @include titleBlock
            
// боковой слайд
.side-nav__placeholder
    z-index: 20
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.4)
    transition: all .4s linear
    opacity: 1
    visibility: visible
    &--hidden
        opacity: 0
        transition: all .4s linear
        visibility: hidden
.side-nav
    max-width: 100%
    padding: 10px
    z-index: 25
    position: fixed
    height: 100%
    top: 0
    right: 0
    background-color: $colorGray
    color: $colorDark
    font-size: 24px
    transition: all .4s linear
    visibility: visible
    transform: translateX(0px)
    //box-shadow: -10px 0px 10px 10px $colorGray
    &--hidden
        transition: all .4s linear
        visibility: hidden
        transform: translateX(100%)
    &__close
        font-size: 32px
        display: inline-block
        height: 50px
        width: 50px
        text-align: center
        line-height: 50px
        cursor: pointer
        &-inner
            display: flex
            justify-content: flex-end
    &__inner
        padding: 0px 20px 20px 20px
    &__button
        margin-top: 40px
        position: relative
        color: #000 
        font-weight: bold
        &:first-child
            margin-top: 20px
        &:hover
            color: #000 
        &::after
            content: ''
            display: block
            width: 0%
            height: 2px
            position: absolute
            background: $colorDark
            bottom: 0
            transition: all .3s linear
        &:hover::after 
            width: 100%
             