include ./blocks/content
include ./blocks/footer

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")    
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Gulp
        // default css
        link(rel="stylesheet" href="./css-min/default.min.css")
        // normalize css
        link(rel="stylesheet" href="./css-min/normalize.min.css")
        // style css
        link(rel="stylesheet" href="./css-min/style.min.css")
        // style css
        link(rel="stylesheet" href="./css-min/media.min.css")
        // fonts
        link(rel="preconnect" href="https://fonts.googleapis.com") 
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Russo+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet")
body  
    .page     
        +content   
        +footer
script(src="./js-bundle/main.bundle.js")