mixin content
    .content
        // кнопка бургер-меню
        .burger-button(id="sidenavOpen") 
            .burger-button__line
            .burger-button__line
            .burger-button__line
        // первый блок
        .welcome
            .welcome-bg.welcome-bg--left
            .welcome-bg.welcome-bg--right
            .welcome__logo
                .welcome__logo-image PureStudio
                .welcome__logo-geo Санкт-Петербург <br> м. Сенная площадь
            .welcome__inner
                .welcome__title Работай <br> вебкам моделью
                a.button.button--work(href="#")
                    span Работать
                    .button-image + 
        // блок "заработок"
        .earn
            .earn__title Зарабатывать от 1000$ в месяц реально
            .earn__inner
                .earn__item Оставь заявку  наш сотрудник напишет тебе  ближайшее время
                .earn__item.earn__item--blue Пройди обучение. Мы даем полный объем информации для работы с нуля
                .earn__item.earn__item--blue Оставь заявку  наш сотрудник напишет тебе  ближайшее время
                .earn__item Пройди обучение. Мы даем полный объем информации для работы с нуля
        // блок "поддержка"
        .support
            .support-list
                .support-list__inner
                    .support-list__item выплаты
                .support-list__inner
                    .support-list__item 
                        .support-list__item-text постановка
                        .support-list__item-text ракурса
                .support-list__inner
                    .support-list__item поддержка
                .support-list__inner
                    .support-list__item 
                        .support-list__item-text продвижение
                        .support-list__item-text на площадках
            .support__splitter
            .support-admin
                .support-admin__title Наша команда администраторов поможет во всём остальном
                .support-emoji
                    .support-emoji__item
                    .support-emoji__item
                    .support-emoji__item
        // блок "про деньги"
        .money
            .money__title 
                .money__title-text Про деньги
            .money__inner
                .money__ask Сколько я могу зарабатывать?
                .money-form
                    .money-form__title Воспользуйтесь калькулятором для расчета возможного дохода!
                    .money__forms
                        .money-form__inner
                            .money-form__label Уровень модели:
                            .money-form__item(id="dropdownLevelButton")
                                .money-form__item-price(id="dropdownLevelDisplay") Начинающая
                                .money-form__item-icon
                                // "--hidden" modifier
                                .money-form__dropdown.money-form__dropdown--hidden(id="dropdownTexts")
                                    .money-form__dropdown-text Начинающая
                                    .money-form__dropdown-text Опытная
                                    .money-form__dropdown-text Топ модель
                        .money-form__inner
                            .money-form__label Кол-во смен в неделю:
                            .money-form__item(id="dropdownValueButton")
                                .money-form__item-price(id="dropdownValueDisplay") 1
                                .money-form__item-icon
                                // "--hidden" modifier
                                .money-form__dropdown.money-form__dropdown--hidden(id="dropdownValues")
                                    .money-form__dropdown-text 1
                                    .money-form__dropdown-text 2
                                    .money-form__dropdown-text 3
                                    .money-form__dropdown-text 4
                                    .money-form__dropdown-text 5
                                    .money-form__dropdown-text 6
                                    .money-form__dropdown-text 7
                        .money-form__inner
                            .money-form__label Доход в месяц:
                            .money-form__result(id="dropdownResultDisplay") 200$   
        // блок "про безопасность"
        .safety
            .safety__title
                .safety__title-text Про безопасность 
            .safety__inner
                .safety__ask Почему ты можешь не переживать что тебя узнают на улице?
                .safety-item__inner
                    .safety-item
                        .safety-item__image
                        .safety-item__title Дистанция
                        .safety-item__text Контакт с пользователями происходит только через чат. Никакого живого контакта. Никто не будет знать твоё настоящее имя и место нахождения.
                    .safety-item
                        .safety-item__image
                        .safety-item__title Приватность
                        .safety-item__text Вся личная информация защищена нашим сервисом. Доступ к информации связанной с тобой будет иметь только твой личный менеджер
                    .safety-item
                        .safety-item__image
                        .safety-item__title Выбор
                        .safety-item__text Ты сама решаешь с кем ты хочешь вести диалог.
                        .safety-item__text Ты всегда можешь сказать нет или заблокировать пользователя.
                    .safety-item
                        .safety-item__image
                        .safety-item__title Локация
                        .safety-item__text Ты выбираешь как и на какие страны и регионы вести трансляцию, а твой личный менеджер подскажет как делать это максимально эффективно.
        // боковая навигация
        .side-nav__placeholder.side-nav__placeholder--hidden(id="sidenavPlaceholder")
        .side-nav.side-nav--hidden(id="sidenav")
            .side-nav__close-inner
                .side-nav__close(id="sidenavClose") ✕
            .side-nav__inner
                // "--active" модификатор
                a.side-nav__button.side-nav__button--active(href="#") Работа в студии
                a.side-nav__button(href="#") Работа на дому
                a.side-nav__button(href="#") Мы предлагаем
                a.side-nav__button(href="#") Оплата
                a.side-nav__button(href="#") Частые вопросы
        
        